# 2.2 Project Planning and Sourcing Data with an API
## Table of Contents:
### 1. Installing libraries
### 2. Importing libraries and datasets
### 3. Get weather data using NOAA's API
### 4. Merge the bike and weather datasets

### 1. Installing libraries

In [2]:
pip install pandas==1.5.1

Collecting pandas==1.5.1
  Using cached pandas-1.5.1-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\svand\anaconda3\envs\citibike_2022\lib\site-packages (from pandas==1.5.1) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\svand\anaconda3\envs\citibike_2022\lib\site-packages (from pandas==1.5.1) (2024.1)
Collecting numpy>=1.21.0 (from pandas==1.5.1)
  Using cached numpy-2.0.0-cp311-cp311-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: six>=1.5 in c:\users\svand\anaconda3\envs\citibike_2022\lib\site-packages (from python-dateutil>=2.8.1->pandas==1.5.1) (1.16.0)
Using cached pandas-1.5.1-cp311-cp311-win_amd64.whl (10.3 MB)
Using cached numpy-2.0.0-cp311-cp311-win_amd64.whl (16.5 MB)
Installing collected packages: numpy, pandas
Successfully installed numpy-2.0.0 pandas-1.5.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install requests==2.32.2

Requirement already satisfied: requests==2.32.2 in c:\users\svand\anaconda3\envs\citibike_2022\lib\site-packages (2.32.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\svand\anaconda3\envs\citibike_2022\lib\site-packages (from requests==2.32.2) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\svand\anaconda3\envs\citibike_2022\lib\site-packages (from requests==2.32.2) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\svand\anaconda3\envs\citibike_2022\lib\site-packages (from requests==2.32.2) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\svand\anaconda3\envs\citibike_2022\lib\site-packages (from requests==2.32.2) (2024.6.2)
Note: you may need to restart the kernel to use updated packages.

### 2. Importing libraries and datasets

In [38]:
import pandas as pd 
import numpy as np
import os 
import requests
import json
from datetime import datetime

In [39]:
# Create a list with all files in the folder using a list compehension

folderpath = r"Data" 
filepaths  = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]

In [40]:
filepaths

['Data\\202201-citibike-tripdata_1.csv',
 'Data\\202201-citibike-tripdata_2.csv',
 'Data\\202202-citibike-tripdata_1.csv',
 'Data\\202202-citibike-tripdata_2.csv',
 'Data\\202203-citibike-tripdata_1.csv',
 'Data\\202203-citibike-tripdata_2.csv',
 'Data\\202204-citibike-tripdata_1.csv',
 'Data\\202204-citibike-tripdata_2.csv',
 'Data\\202204-citibike-tripdata_3.csv',
 'Data\\202205-citibike-tripdata_1.csv',
 'Data\\202205-citibike-tripdata_2.csv',
 'Data\\202205-citibike-tripdata_3.csv',
 'Data\\202206-citbike-tripdata_1.csv',
 'Data\\202206-citbike-tripdata_2.csv',
 'Data\\202206-citbike-tripdata_3.csv',
 'Data\\202206-citbike-tripdata_4.csv',
 'Data\\202207-citbike-tripdata_1.csv',
 'Data\\202207-citbike-tripdata_2.csv',
 'Data\\202207-citbike-tripdata_3.csv',
 'Data\\202207-citbike-tripdata_4.csv',
 'Data\\202208-citibike-tripdata_1.csv',
 'Data\\202208-citibike-tripdata_2.csv',
 'Data\\202208-citibike-tripdata_3.csv',
 'Data\\202208-citibike-tripdata_4.csv',
 'Data\\202209-citibike-tripdata_1.csv',
 'Data\\202209-citibike-tripdata_2.csv',
 'Data\\202209-citibike-tripdata_3.csv',
 'Data\\202209-citibike-tripdata_4.csv',
 'Data\\202210-citibike-tripdata_1.csv',
 'Data\\202210-citibike-tripdata_2.csv',
 'Data\\202210-citibike-tripdata_3.csv',
 'Data\\202210-citibike-tripdata_4.csv',
 'Data\\202211-citibike-tripdata_1.csv',
 'Data\\202211-citibike-tripdata_2.csv',
 'Data\\202211-citibike-tripdata_3.csv',
 'Data\\202212-citibike-tripdata_1.csv',
 'Data\\202212-citibike-tripdata_2.csv']

In [ ]:
# Read and concatenate all files simultaneously
df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

# Tutor Code starts here

In [41]:
filepaths_1 = filepaths[:2]
filepaths_2 = filepaths[21:28]

In [42]:
filepaths_1

['Data\\202201-citibike-tripdata_1.csv',
 'Data\\202201-citibike-tripdata_2.csv']

In [21]:
filepaths_2

['Data\\202208-citibike-tripdata_2.csv',
 'Data\\202208-citibike-tripdata_3.csv',
 'Data\\202208-citibike-tripdata_4.csv',
 'Data\\202209-citibike-tripdata_1.csv',
 'Data\\202209-citibike-tripdata_2.csv',
 'Data\\202209-citibike-tripdata_3.csv',
 'Data\\202209-citibike-tripdata_4.csv',
 'Data\\202210-citibike-tripdata_1.csv']

In [43]:
# Read and concatenate all files simultaneously
df_1 = pd.concat((pd.read_csv(f) for f in filepaths_1), ignore_index = True)

C:\Users\svand\AppData\Local\Temp\ipykernel_18032\1996494879.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1 = pd.concat((pd.read_csv(f) for f in filepaths_1), ignore_index = True)

In [ ]:
# Read and concatenate all files simultaneously
df_2 = pd.concat((pd.read_csv(f) for f in filepaths_2), ignore_index = True)

In [ ]:
df = pd.concat([df_1,df_2])

In [13]:
df.shape

NameError: name 'df' is not defined

In [44]:
df_1.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member

In [11]:
id = ['4488.09','5616.08']
id_1 = id[0].split('.')
#''.join(id_1)

'448809'

In [45]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052418 entries, 0 to 1052417
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1052418 non-null  object
 1   rideable_type       1052418 non-null  object
 2   started_at          1052418 non-null  object
 3   ended_at            1052418 non-null  object
 4   start_station_name  1052418 non-null  object
 5   start_station_id    1052418 non-null  object
 6   end_station_name    1043187 non-null  object
 7   end_station_id      1043187 non-null  object
 8   start_lat           1052418 non-null  float64
 9   start_lng           1052418 non-null  float64
 10  end_lat             1045920 non-null  float64
 11  end_lng             1045920 non-null  float64
 12  member_casual       1052418 non-null  object
dtypes: float64(4), object(9)
memory usage: 104.4+ MB

In [46]:
# Convert both columns to a string data type
df_1['start_station_id'] = df_1['start_station_id'].astype(str)
df_1['end_station_id'] = df_1['end_station_id'].astype(str)

In [47]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052418 entries, 0 to 1052417
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1052418 non-null  object
 1   rideable_type       1052418 non-null  object
 2   started_at          1052418 non-null  object
 3   ended_at            1052418 non-null  object
 4   start_station_name  1052418 non-null  object
 5   start_station_id    1052418 non-null  object
 6   end_station_name    1043187 non-null  object
 7   end_station_id      1052418 non-null  object
 8   start_lat           1052418 non-null  float64
 9   start_lng           1052418 non-null  float64
 10  end_lat             1045920 non-null  float64
 11  end_lng             1045920 non-null  float64
 12  member_casual       1052418 non-null  object
dtypes: float64(4), object(9)
memory usage: 104.4+ MB

In [48]:
df_1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member

In [51]:
df_1.shape

(1052418, 13)

In [53]:
# filter out all rows from both start_station_id and end_station_id columns that does not contain points
df = df_1[~df_1['start_station_id'].str.contains('\.') & ~df_1['end_station_id'].str.contains('\.')]

In [ ]:
# Convert both columns to a string data type
df_1['start_station_id'] = df_1['start_station_id'].astype(str)
df_1['end_station_id'] = df_1['end_station_id'].astype(str)

In [54]:
new_df.shape

(7, 13)

In [52]:
new_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
334910,97BE6D001F65E203,classic_bike,2022-01-26 14:54:50,2022-01-26 14:55:03,Lab - NYC,Lab - NYC,Lab - NYC,Lab - NYC,40.753650,-73.996629,40.75404,-73.996466,member
335064,2BB97F62637347E6,classic_bike,2022-01-26 13:12:44,2022-01-26 13:12:58,Lab - NYC,Lab - NYC,Lab - NYC,Lab - NYC,40.753653,-73.996616,40.75404,-73.996466,member
335065,9624AC65344E2C65,classic_bike,2022-01-26 12:59:49,2022-01-26 13:00:25,Lab - NYC,Lab - NYC,Lab - NYC,Lab - NYC,40.753683,-73.996418,40.75404,-73.996466,member
335066,A5CE9A166ADD035C,classic_bike,2022-01-26 13:48:13,2022-01-26 13:49:12,Lab - NYC,Lab - NYC,Lab - NYC,Lab - NYC,40.753671,-73.996549,40.75404,-73.996466,member
335296,E7FF417AF04A6E61,classic_bike,2022-01-26 15:35:02,2022-01-26 15:37:53,Lab - NYC,Lab - NYC,Lab - NYC,Lab - NYC,40.753985,-73.996656,40.75404,-73.996466,member

In [ ]:
# Split each rows by . and then join back
new_df['start_station_id'] = new_df['start_station_id'].str.split('.').join('')
new_df['end_station_id'] = new_dfdf['end_station_id'].str.split('.').join('')

In [11]:
new_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member

In [12]:
df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
30689916,CB2EE50F60A58C7B,classic_bike,2022-12-12 08:38:46,2022-12-12 08:46:12,E 41 St & Madison Ave (SW corner),6474.12,6 Ave & W 33 St,6364.07,40.752165,-73.979922,40.749013,-73.988484,member
30689917,3C0DF3280FEB1350,classic_bike,2022-12-12 13:06:32,2022-12-12 13:19:58,Peck Slip & South St,5096.12,Vesey St & Church St,5216.06,40.707689,-74.001254,40.712220,-74.010472,member
30689918,B916E63B630D5020,classic_bike,2022-12-18 01:15:22,2022-12-18 01:48:15,E 41 St & Madison Ave (SW corner),6474.12,Lenox Ave & W 111 St,7602.05,40.752399,-73.980150,40.798786,-73.952300,member
30689919,21EAC007BE7D4161,classic_bike,2022-12-08 23:09:54,2022-12-08 23:26:37,W 37 St & 10 Ave,6611.02,W 70 St & Amsterdam Ave,7207.08,40.756604,-73.997901,40.777480,-73.982886,member
30689920,538408C4A16F4415,electric_bike,2022-12-21 07:26:14,2022-12-21 07:31:40,W 37 St & 10 Ave,6611.02,6 Ave & W 33 St,6364.07,40.756604,-73.997901,40.749013,-73.988484,member

### The code I used to join the files is via a list comprehension. Because I created the file named "Data", where I put all datasets in, I could use this folder as the folderpath to loop through. This way it gathered all files (filepaths) from the folder and created a list from it. To read and join the data a generator is used that can handle a file once and one at a time. The joined data is shaped in a new dataframe

### 3. Get weather data using NOAA's API

In [13]:
# Define your NOAA token

Token = 'UVzYSQYxiaavNWiwNwTUvOwDXptbgRaA'

In [14]:
# Get the API 

r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00014732&startdate=2022-01-01&enddate=2022-12-31', headers={'token':Token})

In [15]:
# Load the api response as a json

d = json.loads(r.text)

In [16]:
# Secure all items in the response that correspond to TAVG

avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']

In [17]:
# Get only the date field from all average temperature readings

dates_temp = [item['date'] for item in avg_temps]

In [18]:
# Get the temperature from all average temperature readings

temps = [item['value'] for item in avg_temps]

In [19]:
# Put the results in a dataframe

df_temp = pd.DataFrame()

In [20]:
# Get only date and cast it to date time; convert temperature from tenths of Celsius to normal Celsius

df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
df_temp['avgTemp'] = [float(v)/10.0 for v in temps]

In [21]:
df_temp.head()

        date  avgTemp
0 2022-01-01     11.6
1 2022-01-02     11.4
2 2022-01-03      1.4
3 2022-01-04     -2.7
4 2022-01-05      3.2

In [22]:
df_temp.tail()

          date  avgTemp
360 2022-12-27     -0.7
361 2022-12-28      3.4
362 2022-12-29      6.4
363 2022-12-30      9.3
364 2022-12-31      8.2

In [23]:
df_temp.to_csv('ny_laguardia_weather_data.csv')

### 4. Merge the bike and weather datasets

In [24]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [26]:
# Convert start_time column to datetime format

df['started_at'] = pd.to_datetime(df['started_at'])

In [27]:
# Extract date from date and time

df['date'] = df['started_at'].dt.date

In [28]:
df_temp.head()

        date  avgTemp
0 2022-01-01     11.6
1 2022-01-02     11.4
2 2022-01-03      1.4
3 2022-01-04     -2.7
4 2022-01-05      3.2

In [29]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,2022-01-18
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,2022-01-21
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,2022-01-22
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,2022-01-19
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,2022-01-16

In [30]:
# Convert the 'date' column in both dataframes to datetime64[ns]

df['date'] = pd.to_datetime(df['date'])
df_temp['date'] = pd.to_datetime(df_temp['date'])

In [31]:
# Merge the dataframes on the 'date' column

df_merged = df.merge(df_temp, how = 'left', on = 'date', indicator = True)

In [32]:
df_merged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,_merge
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,2022-01-18,1.8,both
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,2022-01-21,-6.0,both
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,2022-01-22,-5.9,both
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,2022-01-19,3.2,both
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,2022-01-16,-8.0,both

In [33]:
df_merged['_merge'].value_counts(dropna = False)

_merge
both          30689921
left_only            0
right_only           0
Name: count, dtype: int64

In [34]:
df_merged.shape

(30689921, 16)

In [ ]:
# remove all rows with Lab- NYC station name
df_new_enry[df_new_enry['start_station_name'] != 'Lab - NYC']

In [35]:
df_merged.to_csv('ny_data.csv')

In [1]:
df_merged.to_parquet('ny_data.parquet')

NameError: name 'df_merged' is not defined